<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">
                            Combo / Product
                            <!-- <small>Subheading</small> -->
                        </h1>
        <ol class="breadcrumb">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <i class="fa fa-dashboard"></i>  <-->
                    <label><a href="#/comboProduct">Cancle</a></label>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4" align="right">
                    <label><a href="#/comboProduct" ng-show="isEdit==false" ng-click="addCombo()">Done</a></label>
                    <label><a href="#/comboProduct" ng-show="isEdit==true" ng-click="editFn()">Edit</a></label>
                </div>
            </div>
        </ol>
        <!--  Hello -->
        <h5>Combo Name</h5>
        <div class="panel panel-default" style="margin-bottom:-1px;">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-top: 15px;">
                    <!-- <h3 class="panel-title">Set name <br> 
Set1</h3> -->
                    <input type="text" ng-model="newCombo.comboName" placeholder="Set Name" style="width: 420px;height: 50px; border-style:none">
                </div>
                <div class="col-md-5" style="padding-top: 15px;">
                    <input type="text" ng-model="newCombo.comboMoney" placeholder="Price" style="width: 420px;height: 50px; border-style:none">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                    <i class="fa fa-minus-circle"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <i class="fa fa-angle-left"></i>
                    <span ng-repeat="mg in img"> <img class="imgset" ng-src="{{mg}}" style="margin-left: 30px;margin-right: 30px;"></span>
                    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a ng-href="#/setupCartProduct"><i class="fa fa-info-circle"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="text-right">
                </div>
            </div>
        </div>
        <br>
        <br>
        <ol class="breadcrumb">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <i class="fa fa-dashboard"></i>  <-->
                    <label><a href="#/comboProduct">Cancle</a></label>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4" align="right">
                    <label><a href="#/comboProduct" ng-show="isEdit==false" ng-click="addCombo()">Done</a></label>
                    <label><a href="#/comboProduct" ng-show="isEdit==true" ng-click="editFn()">Edit</a></label>
                </div>
            </div>
        </ol>
    </div>
</div>