<style type="text/css">
.red_badge {
    position: absolute;
    margin-left: -15px;
    margin-top: -10px;
    background-color: red;
}

.list-price {
    font-size: 10px;
}
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Combo / Product
                            <!-- <small>Subheading</small> -->
                        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                <a href="index.html">Combo / Product</a>
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="form-group input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <label class="panel-title"><i class="fa fa-cutlery" aria-hidden="true"></i> Combo</label>
        <label class="text-right" style="float: right"> <a ng-href="#/comboProductAdd">Add Combo <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </label>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="row list-group-item" style="margin-left: 10px;margin-right: 10px;">
                <div class="col-xs-3">
                    <div class="col-xs-2">
                        <i class="fa fa-fw fa-cutlery"></i>
                    </div>
                    <div class="col-xs-10">
                        Combo Set1
                        <br>
                        <span class="list-price">Price (359 THB.)</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">5</span>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">2</span>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">1</span>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">1</span>
                </div>
                <label class="text-right" style="float: right"><i class="fa fa-trash" aria-hidden="true"></i></label>
            </div>
            <div class="row list-group-item" style="margin-left: 10px;margin-right: 10px;">
                <div class="col-xs-3">
                    <div class="col-xs-2">
                        <i class="fa fa-fw fa-cutlery"></i>
                    </div>
                    <div class="col-xs-10">
                        Combo Set2
                        <br>
                        <span class="list-price">Price (259 THB.)</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">5</span>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">2</span>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">1</span>
                </div>
                <label class="text-right" style="float: right"><i class="fa fa-trash" aria-hidden="true"></i></label>
            </div>

            <div class="row list-group-item" style="margin-left: 10px;margin-right: 10px;">
                <div class="col-xs-3">
                    <div class="col-xs-2">
                        <i class="fa fa-fw fa-cutlery"></i>
                    </div>
                    <div class="col-xs-10">
                        Combo Set3
                        <br>
                        <span class="list-price">Price (159 THB.)</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">5</span>
                </div>
                <div class="col-xs-2">
                    <img src="http://aa-storage-int.s3.amazonaws.com/aa-images/common/meal/ak-ndcb.png" width="100" height="80" />
                    <span class="badge red_badge">2</span>
                </div>
                <label class="text-right" style="float: right"><i class="fa fa-trash" aria-hidden="true"></i></label>
            </div>
        </div>
    </div>
</div>