<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">
                            Combo / Product
                            <!-- <small>Subheading</small> -->
                        </h1>
        <ol class="breadcrumb">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <i class="fa fa-dashboard"></i>  <-->
                    <label><a href="#/comboProduct">Cancle</a></label>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4" align="right">
                    <label><a href="#/comboProduct" ng-show="isEdit==false" ng-click="addCombo()">Done</a></label>
                    <label><a href="#/comboProduct" ng-show="isEdit==true" ng-click="editFn()">Edit</a></label>
                </div>
            </div>
        </ol>
        <!--  Hello -->

        <h5>Combo Name</h5>
       <!--  <div class="panel panel-default" style="margin-bottom:-1px;">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-top: 15px;">
                    
                    <input type="text" ng-model="newCombo.comboName" placeholder="Set Name" style="width: 420px;height: 50px; border-style:none">
                </div>
                <div class="col-md-5" style="padding-top: 15px;">
                    <input type="text" ng-model="newCombo.comboMoney" placeholder="Price" style="width: 420px;height: 50px; border-style:none">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                    <i class="fa fa-minus-circle"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <i class="fa fa-angle-left"></i>
                    <span ng-repeat="mg in img"> <img class="imgset" ng-src="{{mg}}" style="margin-left: 30px;margin-right: 30px;"></span>
                    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a ng-href="#/setupCartProduct"><i class="fa fa-info-circle"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="text-right">
                </div>
            </div>
        </div> -->


<div class="panel panel-default" style="margin-bottom:-1px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5" style="padding-top: 15px;">
            <input type="text" ng-model="newCombo.comboName" placeholder="Set Name" style="width: 420px;height: 50px; border-style:none">
        </div>
        <div class="col-md-5" style="padding-top: 15px;">
            <input type="text" ng-model="newCombo.comboMoney" placeholder="Price" style="width: 420px;height: 50px; border-style:none">
        </div>
    </div>

    <div class="row"> 
        <div class="col-xs-2 text-center" style="margin-top:30px;">
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </div>
       <button type="button" ng-click="scrollLeft();" class="btn btn-defualt">
            <span class="fa fa-angle-left fa-4x"></span>
        </button>
        <span ng-repeat="item in comboSet | limitTo:limitNumber:runNumber">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{{item.img}}" height="80" />
        <span class="badge red_badge">{{item.badge}}</span>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" ng-click="scrollRight();" class="btn btn-defualt">
            <span class="fa fa-angle-right fa-4x"></span>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a ng-href="#/setupCartProduct"> <i class="fa fa-info-circle"> </i> </a>
    </div>
</div>



        <br>
        <br>
        <ol class="breadcrumb">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <i class="fa fa-dashboard"></i>  <-->
                    <label><a href="#/comboProduct">Cancle</a></label>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4" align="right">
                    <label><a href="#/comboProduct" ng-show="isEdit==false" ng-click="addCombo()">Done</a></label>
                    <label><a href="#/comboProduct" ng-show="isEdit==true" ng-click="editFn()">Edit</a></label>
                </div>
            </div>
        </ol>
    </div>
</div>