<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Promotion / Discount
                          
                        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-suitcase"></i> <a href="index.html"> Promotion / Discount</a>
            </li>
        </ol>
        <div class="form-group input-group" style="margin-top:-20px; margin-bottom: -1px;">
            <input type="text" class="form-control" ng-model="searchText">
            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title"><i class="fa fa-suitcase"></i> Promotion / Discount</span>
        <span class="panel-title" style="float: right;">Add Promotion <a href="#/promotionDiscountAdd"> <i class="fa fa-plus-circle" style="color:#088A08;"></i></a></span>
    </div>

    <div class="panel-body">
        <div class="list-group">
            <div ng-repeat="item in promotions | filter:searchText">
                <div class="col-xs-11">
                    <a ng-href="#/promotionDiscountAdd/{{item.id}}" class="list-group-item" ng-model="item.promotionName">
                        <i class="fa fa-suitcase"></i> {{item.promotionName}}
                    </a>
                </div>
                <div class="col-xs-1" style="padding-left: 0;padding-right: 0; text-align: center;">
                    <a ng-href="#/promotionDiscount" class="list-group-item" ng-click="deletePromotion(item.id)" onclick="return false;">
                        <i class="fa  fa-trash fa-1x" style="color:red;"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-right">
        </div>
    </div>
    <!-- <div class="panel-body">
        <div class="list-group">
            <a ng-href="#/promotionDiscountAdd/{{item.id}}" class="list-group-item" ng-repeat="item in promotions | filter:searchText" ng-model="item.promotionName">
                <i class="fa fa-suitcase"></i> {{item.promotionName}}
                
            </a>
        </div>
        <div class="col-xs-1" style="padding-left: 0;padding-right: 0; text-align: center;">
                    <a ng-href="#/promotionDiscount" class="list-group-item" ng-click="deletePromotion(item.id)" onclick="return false;">
                        <i class="fa  fa-trash " style="float: right;color:red;"></i>
                    </a>
                </div>
        <div class="text-right">
        </div>
    </div> -->
</div>
