<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Setup Cart
                          
                        </h1>
        <div class="breadcrumb">
            <span> Cancel</span>
            <span ng-repeat="item in carts"></span>
            <a ng-href="#/setupCart">
                <span style="float: right;" ng-show="isEdit==false" ng-click="addCart()">Done </span>
                <span style="float: right;" ng-show="isEdit==true" ng-click="editFn()">Edit </span>
            </a>
        </div>
    </div>
</div>
<div class="form-group">
    <label style="margin-left: 15px;">Cart Name</label>
    <input class="form-control" ng-model="newCart.cartName">
</div>
<!-- /.row -->
<div class="panel panel-default" style="margin-bottom:-1px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding-top: 15px;" >
            <input class="form-control" style="width:400px;" type="text"  
            ng-model="newCart.cartCate" placeholder="A1 Food, Soft Drink">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <i class="fa fa-minus-circle"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <i class="fa fa-angle-left"></i>
            <span ng-repeat="mg in newCart.cartProd"> <img class="imgset" ng-src="{{mg.prodImg}}" 
                style="margin-left: 30px;margin-right: 30px;"></span>
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a ng-href="#/setupCartProduct"><i class="fa fa-info-circle"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="text-right">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-2 text-center">
                <i class="fa fa-plus-circle"></i>
            </div>
            <div class="col-md-10">
                <h3 class="panel-title" ng-click="addItem()">  Add Class</h3>
            </div>
        </div>
    </div>
</div>
<!-- <div class="panel panel-default">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10" style="padding-top: 15px;">
            <input class="form-control" style="width:400px;" type="text" placeholder="B1 Food">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center">
            <i class="fa fa-minus-circle"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <i class="fa fa-angle-left"></i>
            <span ng-repeat="mg in img"> <img class="imgset" ng-src="{{mg}}" 
                style="margin-left: 30px;margin-right: 30px;"></span>
            <i class="fa fa-angle-right"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a ng-href="#/setupCartProduct"><i class="fa fa-info-circle"></i></a>
        </div>
        <div class="panel-body">
            <div class="text-right">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-2 text-center">
                <i class="fa fa-plus-circle"></i>
            </div>
            <div class="col-md-10">
                <h3 class="panel-title">  Add Class</h3>
            </div>
        </div>
    </div>
</div> -->
<br>
<div class="breadcrumb">
    <span> Cancel</span>
    <span ng-repeat="item in carts"></span>
    <a ng-href="#/setupCart/">
        <span style="float: right;" ng-show="isEdit==false" ng-click="addCart()">Done </span>
        <span style="float: right;" ng-show="isEdit==true" ng-click="editFn()">Edit </span>
    </a>
</div>
