<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Upload Cart
                          
                        </h1>
        <div class="breadcrumb">
            <a ng-href="#/uploadCart">Cancel
            <span style="float: right;" ng-show="isEdit==false" ng-click="addUpload()">Done </span>
            <span style="float: right;" ng-show="isEdit==true" ng-click="editFn()">Edit </span>
            </a>
        </div>
    </div>
</div>
<div class="form-group">
    <label style="margin-left: 15px;">Flight Name</label>
    <input class="form-control" placeholder="AK25" ng-model="newUpload.flightName">
</div>
<div class="form-group">
    <label class="radio-inline" style="margin-left: 50px;">
        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked ng-model="newUpload.optionsRadiosInline">Inbound
    </label>
    <label class="radio-inline" style="margin-left: 200px;">
        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2" ng-model="newUpload.optionsRadiosInline">Outbound
    </label>
    <label class="radio-inline" style="margin-left: 200px;">
        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3" ng-model="newUpload.optionsRadiosInline">Quick Turn
    </label>
</div>
<!-- /.row -->
<div class="panel panel-default" style="margin-bottom:-1px;" ng-repeat="nam in product">
    <div class="row">
        <div class="col-md-1 text-center"><i class="fa fa-minus-circle" style="color: red;"></i></div>
        <div class="col-md-4">
            <i class="fa fa-shopping-cart"></i>
            <a href="#/">
                <span class="panel-title text-center" style="margin-left:10px;margin-right:10px;">{{nam.cart}}</span>
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        <!-- input -->
        <div class="col-md-7" style="border-style: solid;border-width: 0px 0px 0px 1px;">{{nam.detailadd}}</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-1 text-center">
                <i class="fa fa-plus-circle" style="color: #088A08;"></i>
            </div>
            <div class="col-md-10">
                <i class="fa fa-shopping-cart"></i>
                <span class="panel-title" style="margin-left:10px;">  Add Cart</span>
            </div>
        </div>
    </div>
    <div class="breadcrumb">
        <a ng-href="#/uploadCart">Cancel
            <span style="float: right;" ng-show="isEdit==false" ng-click="addUpload()">Done </span>
            <span style="float: right;" ng-show="isEdit==true" ng-click="editFn()">Edit </span>
            </a>
    </div>
</div>
